$main-color: #6c63ff;
$color-black: #000000;

//BORDER COLOR
$border-color: #B7B3B3;
$background-color: #ffff;

$hover-background-color: #6c63ff;

//font-family
$font-family: 'Montserrat', sans-serif;