.heading{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
   
    
    &__main{
        display: block;
    }

    &__sub{
        display: block;
    }
}

.text{
    font-family: $font-family;
    font-weight: 600;


    &__primary{
        font-size: 4rem;
    }

}

.paragraph-2{
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
    opacity: 0.6;
   
}

.image__main{
    position: absolute;
    display: flex;
    top: 18rem;
}

.sub1{
    margin-right: 10rem;

}

.sub2{
    margin-right: 10rem;
}


.transfer{
    font-weight: 600;
    font-size: 1.8rem;   
}

.paragraph-3{
    opacity: 0.6;
    font-style: normal;
    font-weight: 600;
    margin-top: .7rem;
    font-size: 1rem;
    width: 150%;
    margin-left: -4rem;
}
