.border-buttom{
    border-bottom: 0.2rem solid $border-color;
    box-sizing: border-box;
    width: 4.5rem;
    margin-top: 1.5rem;

}

.border-center{
    text-align: center;
    margin-left: 45%;
    margin-bottom: 2rem;

}

.border-currency{
    width: 5.3rem;
    margin-top: .8rem;
    margin-bottom: 2rem;
}


.btn-large{
    width: 12rem;
    height: 4rem;
}

.btn-meduim{
    width: 8rem;
    height: 3.5rem;
    margin-top: -0.5rem;
}

.margin-top{
    margin-top: 4rem;
}

.second__heading{
    position: relative;
    top: 7rem;
    left: 40rem;
    font-size: 3rem; 
}

.para-modi{
    opacity: 0.75;
    font-size: 1.3rem;
}

