.border-buttom{
    border-bottom: 0.2rem solid $border-color;
    box-sizing: border-box;
    width: 4.5rem;
    margin-top: 1.5rem;

}

.border-center{
    text-align: center;
    margin-left: 45%;
    margin-bottom: 2rem;

}


.btn-large{
    width: 12rem;
    height: 4rem;
}

.btn-meduim{
    width: 8rem;
    height: 3.5rem;
    margin-top: -0.5rem;
}

.margin-top{
    margin-top: 4rem;
}

