.navScroll{
    position: fixed;
    z-index: 1500;
    left: 4rem;
}



.works{
    position: absolute;
    top: 70rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.currency{
    position: absolute;
    top: 125rem;
    display: flex;
}